<html>
	<head>
		<title> Design6 </title>
	</head>
	<body>
		<div>
			<h1> <a href="/">Design6</a> </h1>
		</div>
		<div>
			<p> published : 25/12/2017, 4:00 P.M </p>
			<h3> <a href = " "> My first post </a> </h3>
			<p> Welcome to all design lovers out there to my blog! First i will answer the question, why i named my blog design6? why 6 is appended? 6 being my favorite number, i decided to use it at the end of my blog name. I chose 'design' as name which is very simple to identify and understand. So the name design6. So we will be dealing with number 6 in this blog very often. We will be posting 6 articles/per week or 6 tutorials/week or 6 best designs of week or a combination of all. So wait and watch it out.
			</p>
		</div>
		<div>
			<p> published : 25/12/2017,4:00 P.M </p>
			<h3> <a href = " "> My second post </a></h3>
			<p> Coming soon!</p>
		</div>
	</body>
</html>
